body{
    margin:0;
    padding:0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
   	color: white;
}

body {
	background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-container {
	position: absolute;
	width: 1024px;
	top: 92px;
	left: calc(50% - 512px);

	opacity: 0.8;
}

.main-title {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.main-navbar {
	width: 100%;
	height: 100%;

	background-color: gray;
	border-radius: 4px;
	border: 2px solid white;

}
	.main-navbar ul {
		/* ul has default margins? */
		margin: 0;
		padding: 0;
		/* Remove the bullet points */
		list-style-type: none;
		text-align: center;
	}

		.main-navbar ul li {
			display: inline-block;
			height: 60px;

			/* Dictates where the text lives in the nav box */
			line-height: 60px;
		}
			.main-navbar ul li a{
				display: block;
				width: 120px;

				font-size: 25px;
				color: white;

				font-weight: bold;
				/* remove underline */
				text-decoration: none;
				text-align: center;
    			text-transform: uppercase;

    			transition: color 80ms ease-out;
			}
			.main-navbar ul li a:hover{
				color: black;
			}

.main-image-carousel {
    width: 100%;
    height: 100%;
    background-color: green;
}

.main-content {
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: gray;
    border-radius: 4px;
    border: 2px solid white;

}
    .post-list {
        /* Divs by default are willing to grow their width, by specifying this, you cap the width */
        width: 100%;

        margin-top: 24px;
        margin-left: 24px;
        margin-bottom: 12px;

        flex-direction: column;
    }
        .post-content {
            /* This is still needed because divs stack by default --> column now */
            display: flex;
            border: 2px solid white;
            border-radius: 4px;
            margin-bottom: 12px;
        }
            .post-avatar {
                width: 10%;
                height: 10px;

                margin-top: 10px;
                font-size: 1.2em;

                text-align:center;
            }
            .post-container {
                width: 90%;

            }	
                .post-title {
                    margin: 0;
                    margin-top: 4px;
                    font-size: 2em;
                }
                .post-date {
                    margin: 0;
                    font-size: 1em;
                    width: 95%;
                    border-bottom: 2px solid white;
                }
                .post-body {
                    margin: 0;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    font-size: 1.2em;
                }
    .sidebar-content {
        width: 30%;

        margin: 24px;

        border: 2px solid white;
        border-radius: 4px;
    }
        .sidebar-items {
            margin: 24px;
            margin-bottom: 48px;
            text-align: center;
            font-size: 25px;
        }

/* Floater Div START*/
.floater-social {
	position: fixed;
	bottom: 50px;
	left: 0px;

	width: 40px;
	height: calc(3*42px);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;

	box-shadow: 2px 2px 2px silver;
	background-color: gray;
}

.social {
	display:block;
	position: relative;
	height:40px;
	
	border-bottom: 2px solid silver;
	/* Overriding it as the pointer should only change on the image's hover */
	cursor: default;
}


.floater-social img {
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 8px;
	
	/* This dictates what kind of transition should be done between no-hover/on-hover */
	transition: opacity 120ms ease-out;
}

.floater-social img.grey:hover {
	opacity: 0;
	cursor: pointer;
}

/* Floater Div END*/
