*{
    margin:0;
    padding:0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
   	font-size: 25px;
   	color: white;
}

/* TODO: Maybe remove this? Don't need announcement part (?) */
.global-header {
	height: 45px;

	/* Used to vertically align content */
	line-height: 45px;
    vertical-align: middle;
    text-align: center;
	
	background-color: green;

}

body {
	background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
	/*padding: 120px 120px 0px 120px;*/
	position: absolute;
	width: 1024px;
	top: 92px;
	left: calc(50% - 512px);

	opacity: 0.8;
}

.main-title {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.main-navbar {
	width: 100%;
	height: 100%;
	
	background-color: silver;
	border-radius: 4px;
	box-shadow: 2px 2px 2px gray;
}
	.main-navbar ul {
		/* Remove the bullet points */
		list-style-type: none;
		text-align: center;
	}

		.main-navbar ul li {
			display: inline-block;
			height: 60px;
			
			/* Dictates where the text lives in the nav box */
			line-height: 60px;
		}
			.main-navbar ul li a{
				display: block;
				width: 120px;

				font-weight: bold;
				/* remove underline */
				text-decoration: none;
				text-align: center;
    			text-transform: uppercase;

    			transition: color 80ms ease-out;
			}
			.main-navbar ul li a:hover{
				color: black;
			}

	.main-content {
		height: 500px;
		width: 500px;
		background-color: red;
	}

/* Floater Div START*/
.floater-social {
	position: fixed;
	bottom: 50px;
	left: 0px;

	width: 40px;
	height: calc(3*42px);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;

	box-shadow: 2px 2px 2px #888888;
	background-color: silver;
}

.social {
	display:block;
	position: relative;
	height:40px;
	
	border-bottom: 2px solid gray;
	/* Overriding it as the pointer should only change on the image's hover */
	cursor: default;
}


.floater-social img {
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 8px;
	
	/* This dictates what kind of transition should be done between no-hover/on-hover */
	transition: opacity 120ms ease-out;
}

.floater-social img.grey:hover {
	opacity: 0;
	cursor: pointer;
}

/* Floater Div END*/
