*{
    margin:0;
    padding:0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
   	font-size: 18px;
}

.global-header {
	height: 45px;
	background-color: green;
	/* Used to vertically align content */
	line-height: 45px;
    vertical-align: middle;
    text-align: center
}

/* HEADER END */
.main-navbar {
	height: 20vh;
	background-color:blue;
}

/* Floater Div*/
.floater-social {
	position: fixed;
	bottom: 50px;
	left: 0px;

	width: 40px;
	height: calc(3*42px);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;

	box-shadow: 2px 2px 2px #888888;
	background-color: silver;
}

.social {
	display:block;
	position: relative;
	height:40px;
	
	border-bottom: 2px solid gray;
	/* Overriding it as the pointer should only change on the image's hover */
	cursor: default;
}


.floater-social img {
	position: absolute;
	left: 0px;
	top: 0px;
	
	margin: 8px;
	
	/* This dictates what kind of transition should be done between no-hover/on-hover */
	transition: opacity 120ms ease-out;
}

.floater-social img.grey:hover {
	opacity: 0;
	cursor: pointer;
}


