<div class="about-list">
    <div class="about-title">
        About Us
    </div>
    <div class="about-user">
        <div class="about-avatar">
            <div class="about-backpicture">
                <img src="/assets/images/cho'gath.jpg"/>
            </div>
            <div class="about-picture">
                <img src="/assets/images/cho'gath.jpg"/>
            </div>
            
            <div class="about-name">
                Cho'Gath
            </div>
        </div>
        <div class="about-bio">
            NOMNOMNOMNOMNOMNNOM!?!?!?!?!!?
        </div>
    </div>
</div>