<div class="faq-list">
    <div class="faq-page-title">
        FAQ - Frequently Asked Questions
    </div>
    
    <div class="faq-container">
        <div class="faq-question" ng-click="showAnswer($event)">
            1. How do I sign up for the Alpha?
        </div>
        <div class="faq-answer">
            A: We will be creating a Kickstarter soon and details can be found then!
        </div>
    </div>
    <div class="faq-container">
        <div class="faq-question" ng-click="showAnswer($event)">
            2. How big is the development team? Will this game definitely go live?
        </div>
        <div class="faq-answer">
            A: Currently, the development team consists of one person. Once enough interest is shown, more developers and artists will be hired to expedite the release process.
        </div>
    </div>
    <div class="faq-container">
        <div class="faq-question" ng-click="showAnswer($event)">
            3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo ultricies commodo?
        </div>
        <div class="faq-answer">
            A: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo ultricies commodo. Aliquam ut ipsum ante. Suspendisse commodo tempor lacus, id fringilla metus ultricies non. Donec sodales augue magna, eget viverra libero aliquet id. Mauris ut elementum mauris, nec luctus nibh. Mauris finibus rhoncus urna, vel ullamcorper neque tincidunt eget. Pellentesque et elit ex. Nunc at elementum enim. Pellentesque mattis euismod felis et elementum. Ut vestibulum egestas mi, a consectetur tellus mattis a. Aenean ante lorem, finibus sit amet molestie eget, varius ac odio. Maecenas nunc lorem, suscipit sed pretium vitae, ornare a leo. Nunc hendrerit ultricies libero in eleifend.
        </div>
    </div>
</div>