<div class="faq-list">
    <div class="faq-page-title">
        FAQ - Frequently Asked Questions
    </div>
    
    <div class="faq-content">
        <div class="faq-question" ng-click="showAnswer($event)">
            1. How do I sign up for the Alpha?
        </div>
        <div class="faq-answer">
            HELLO!
        </div>
    </div>
    <div class="faq-content">
        <div class="faq-question" ng-click="showAnswer($event)">
            2. What's your name?
        </div>
        <div class="faq-answer">
            HELLO!
        </div>
    </div>
    <div class="faq-content">
        <div class="faq-question" ng-click="showAnswer($event)">
            2. What's your name?
        </div>
        <div class="faq-answer">
            HELLO!
        </div>
    </div>
</div>