<div class="main-image-carousel">
    asdf
</div>

<div class="main-content">
	<div class="post-list">
		<div class="post-content" ng-repeat="d in data">
			<div class="post-avatar">
				<img ng-src="{{d.image}}"/>
				{{d.author}}
			</div>
			<div class="post-container">
				<h3 class="post-title">
					{{d.title}}
				</h1>
				<h5 class="post-date">
					{{d.date}}
				</h5>
				<p class="post-body">
					{{d.body}}
				</p>
			</div>
		</div>
	</div>
	<div class="sidebar-content"> 
		<div class="sidebar-items"> 
			Kickstarter Progress
		</div>
		<div class="sidebar-items"> 
			Facebook Group
		</div>
		<div class="sidebar-items"> 
			Twitter Feed
		</div>
		<div class="sidebar-items"> 
			Subscribe to Newsletter
		</div>
	</div>
</div>
