<div class="main-image-show">
    <div class="image-show-item" ng-repeat="i in images">
        <img ng-src="{{i.image}}"/>
        <div class="image-show-title">
            <h4>
                {{i.header}}
            </h6>
            <p>
                {{i.description}}
            </p>
        </div>
    </div>
</div>

<div class="main-image-nav" slickify-directive>
    <div class="image-nav-item" ng-repeat="i in imagesx" image-carousel-directive>
        <img ng-src="{{i.image}}"/>
        <div class="image-nav-title">
            <h4>
                {{i.header}}
            </h4>
        </div>
    </div>
</div>

<div class="main-content">
	<div class="post-list">
		<div class="post-content" ng-repeat="d in data">
			<div class="post-avatar">
				<img ng-src="{{d.image}}"/>
				{{d.author}}
			</div>
			<div class="post-container">
				<h3 class="post-title">
					{{d.title}}
				</h1>
				<h5 class="post-date">
					{{d.date}}
				</h5>
				<p class="post-body">
					{{d.body}}
				</p>
			</div>
		</div>
	</div>
	<div class="sidebar-content"> 
		<div class="sidebar-items"> 
			Kickstarter Progress
		</div>
		<div class="sidebar-items"> 
			Facebook Group
		</div>
		<div class="sidebar-items"> 
			Twitter Feed
		</div>
		<div class="sidebar-items"> 
			Subscribe to Newsletter
		</div>
	</div>
</div>
